<h2 class="text-center">Job Listings</h2>

<div class="container">
  <div class="row">

    <% @jobs.each do |job| %>
    <div class="col-xs-12 col-sm-6">
      <div class="card-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= job.category.photo %>');">
        <div class="card-description">
          <h4><%= job.title %></h4>
          <p><%= job.description %></p>
          <p><%= job.rate %> per hour </p>
        </div>
        <%= image_tag (job.user.avatar || "avatar-placeholder.png"), class: "card-user" %>
        <%= link_to "", job_path(job.id), class: "card-link"%>
      </div>
    </div>
    <% end %>

  </div>
</div>

<div class="container padded">
  <%= link_to "Back to home", root_path, class: "btn btn-primary"%>
</div>
