<div class="container">
  <h2 class="text-center">Job Listings</h2>
  <%= link_to "< Home", root_path, class: "link"%>
</div>

<div class="container padded-index">
  <div class="row">
    <% @jobs.each do |job| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card-index"> <!-- style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= job.category.photo %>');" -->
      <%= cl_image_tag job.user.avatar %>
        <div class="card-description">
          <h4><%= job.title %></h4>
          <p>€<%= job.rate %> per hour </p>
        </div>
        <%= link_to "", job_path(job.id), class: "card-link"%>
      </div>
    </div>
    <% end %>

  </div>
</div>

