<div class="container padded">
  <div class="row">
    <!-- left col -->
    <div class="col-xs-8">

      <h2><%= @job.title %></h2>

      <div class="padded-job-show">
        <h3>Price and general information</h3>
        <div>
          <p>Category: <%= @job.category.name %></p>
          <p><strong>Rate per hour: €<%= @job.rate %></strong></p>
        </div>
      </div>

      <div class="padded-job-show">
        <h3>Job description</h3>
        <p><%= @job.description %></p>
      </div>

      <div class="padded-job-show">
        <h3>Where I am available</h3>
        <!-- The map will be drawn in this div -->
        <div id="map" style="width: 100%; height: 600px;"></div>
        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).ready(function() {
              var map = Gmaps.build('Google');
              map.buildMap({ internal: { id: 'map' } }, function() {
              markers = map.addCircles([{
              "lat": <%= @user_coord[:lat] %>,
              "lng": <%= @user_coord[:lng] %>,
              "radius": <%= @area * 100 %>
              }], { strokeColor: '#3F4045' }, { fillColor: '#FF0000' });
              map.bounds.extendWith(markers);
              map.fitMapToBounds();
              });
            });
          <% end %>
        <% end %>
</div>
</div>



<!-- right col -->
<div class="col-xs-4">
  <div class="card-show">
    <%= cl_image_tag @job.user.avatar, width: 150, height: 150, gravity: :face, crop: :lfill, class: "avatar-square" %>
    <h2><%= @job.user.first_name %> <%= @job.user.last_name %></h2>
    <p>Email: <%= @job.user.email %></p>
    <p>Phone number: <%= @job.user.phone_number %></p>
    <p>Address: <%= @job.user.address %></p>

    <% if current_user == @job.user %>
    <%= link_to "Edit", edit_job_path(@job), class: "btn btn-primary" %>
    <%= link_to "Delete", job_path(@job), class: "btn btn-primary", method: :delete, data: { confirm: "Are you sure?" } %>
    <% else %>
    <%= link_to "View profile", user_path(@job.user), class: "btn btn-primary" %>
    <button class="btn btn-primary btn-js">Send request</button>
    <div class="form-group">
        <%= simple_form_for([@job, @request]) do |f| %>
        <%= f.input :date, :label => "Date", class: "form-control" %>
        <%= f.input :duration, :label => "Duration", class: "form-control" %>
        <%= f.button :submit, "Send request", class: "btn btn-primary" %>
        <% end %>
      </div>
    <% end %>
      </div>
    </div>
</div>
</div>

<div class="container padded">
  <ul class="list-unstyled list-inline">
    <li><%= link_to "Back to jobs", jobs_path, class: "btn btn-primary"%></li>
  </ul>
</div>

