<div class="text-center">
  <h2 class="index-heading"><%= @job.title %></h2>
</div>

<div class="container padded-show">
  <div class="row">
    <div class="col-xs-8">
      <div class="card-show">
        <div class="card-show-category">Job Information</div>
        <div>
          <p>Description: <%= @job.description %></p>
          <p>Category: <%= @job.category.name %></p>
          <p><strong>Rate per hour: <%= @job.rate %></strong></p>
          <% if current_user == @job.user %>
          <%= link_to "Edit", edit_job_path(@job), class: "btn btn-primary" %>
          <%= link_to "Delete", job_path(@job), class: "btn btn-primary", method: :delete, data: { confirm: "Are you sure?" } %>
          <% else %>
          <%= link_to "Send request to seller", new_job_request_path(@job), class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="card-show">
        <div class="card-show-category">User Profile</div>
        <div>
          <h2><%= @job.user.first_name %> <%= @job.user.last_name %></h2>
          <p>Address: <%= @job.user.address %></p>
          <p>Phone number: <%= @job.user.phone_number %></p>
        </div>
        <img class="avatar-square" src=<%= @job.user.avatar %>>
      </div>
    </div>
  </div>
</div>

<div class="container padded-show">
  <ul class="list-unstyled list-inline">
  <li><%= link_to "Back to all jobs", jobs_path, class: "btn btn-primary"%></li>
    <li><%= link_to "Back to home", root_path, class: "btn btn-primary"%></li>
  </ul>
</div>
