<div class="container">
  <div class="row">

    <div class="col-xs-12 col-md-6 col-md-offset-3">

      <h2>Edit User Profile</h2>

      <div class="form-group">
        <%= simple_form_for(@user) do |f| %>
        <%= f.input :first_name, class: "form-control" %>
        <%= f.input :last_name, class: "form-control" %>
        <%= f.input :phone_number, class: "form-control" %>
        <%= f.input :address, class: "form-control" %>
        <%= f.input :area, :label => "Working area(km)", class: "form-control" %>
        <%= f.input :bio, class: "form-control" %>
        <%= f.input :avatar, class: "form-control"%>
        <%= f.input :avatar_cache, as: :hidden %>
        <%= f.submit class: "btn btn-primary" %>
        <% end %>
      </div>

    </div>

  </div>
</div>
