<div class="container padded">
  <div class="row">
    <!-- left col -->
    <div class="col-xs-8">

      <h2><%= @user.first_name %> <%= @user.last_name %></h2>

      <div class="padded-job-show">
        <h3>Bio</h3>
      </div>

      <div class="padded-job-show">
        <h3>Jobs</h3>
        <% @user.jobs.each do |job| %>
        <div class="card users-show-card">
          <p>Title: <%= job.title %></p>
          <p>Rate: €<%= job.rate %> per hour</p>
          <div class="users-show-top-right">
            <%= link_to "View job page", job_path(job), class: "btn btn-primary btn-sm" %>
          </div>
        </div>
        <% end %>
      </div>

    </div>

    <!-- right col -->
    <div class="col-xs-4">
      <div class="users-show-fixed">
        <%= image_tag @user.avatar, class: "avatar-square-massive" %>
        <h3>Contact <%= @user.first_name %></h3>
        <p>Email: <%= @user.email %></p>
        <p>Phone number: <%= @user.phone_number %></p>
        <p>Address: <%= @user.address %></p>
      </div>
    </div>

  </div>
</div>

<div class="container padded">
  <ul class="list-unstyled list-inline">
    <li><%= link_to "Back to all jobs", jobs_path, class: "btn btn-primary"%></li>
    <li><%= link_to "Back to home", root_path, class: "btn btn-primary"%></li>
  </ul>
</div>
