<div class="text-center index-heading">

</div>

<div class="container padded-show">
  <div class="row">

    <div class="col-xs-12 col-sm-6">
      <h2 class=text-center>Sent Requests</h2>
      <% @sent_requests.each do |request| %>

      <div class="card-request">
        <div class="card-request-btn">
        <%= link_to "Go to Job", job_path(request.job), class: "btn btn-primary", method: :get %>
          <%= link_to "Cancel", cancel_request_path(request), class: "btn btn-primary", method: :patch, data: { confirm: "Are you sure?" }  unless request.cancelled?%>
        </div>
        <div>
          <h3>Status: <strong><%= request.status %></strong></h3>
          <p>Job: <%= request.job.title %></p>
          <p>Buyer: <%= request.user.first_name %> <%= request.user.last_name %> | Seller: <%= request.job.user.first_name %> <%= request.job.user.last_name %></p>
          <p>Date: <%= request.date %> | Duration: <%= request.duration %> hours | Total price: €<%= request.total_price %></p>
        </div>
      </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6">
      <h2 class=text-center>Received Requests</h2>
      <% @received_requests.each do |request| %>

      <div class="card-request">
        <div class="card-request-btn">
          <%= link_to "Go to Job", job_path(request.job), class: "btn btn-primary", method: :get %>
          <%= link_to "Confirm", confirm_request_path(request), class: "btn btn-primary", method: :patch, data: { confirm: "Are you sure?" }unless request.confirmed? %>
          <%= link_to "Deny", deny_request_path(request), class: "btn btn-primary", method: :patch, data: { confirm: "Are you sure?" } unless request.denied? %>
        </div>
        <div>
          <h3>Status: <strong><%= request.status %></strong></h3>
          <p>Job: <%= request.job.title %></p>
          <p>Buyer: <%= request.user.first_name %> <%= request.user.last_name %> | Seller: <%= request.job.user.first_name %> <%= request.job.user.last_name %></p>
          <p>Date: <%= request.date %> | Duration: <%= request.duration %> hours | Total price: €<%= request.total_price %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container padded">
  <%= link_to "Back to home", root_path, class: "btn btn-primary"%>
</div>
